
.display{
    display:flex;
}

h4{
    display: inline;
    text-align: center;
    margin:0.5em;
}

.history{
    padding-left:1em;
    padding-right: 1em;
    margin:0;
    border:1px solid black;
    background-color: antiquewhite;
    width: 30em;
    margin-bottom: 0.4em;
}